<div id="<%= dom_id url %>" class="ml-5">
  <% if current_user %>
    <ul id="links" class="list d-flex gap-4 mb-5 justify-conten-start align-items-center">
      <h4>Shortened link</h4>
       <li class="link"><%= link_to "#{url_clicked_url(url.short_url)}", "/url/#{url_for(url.short_url)}", data: { turbo_frame: "_top"}, target: "_blank", class: "text-purple-600 text-sm" %></li>
      <h4>Original link</h4>
      <li class="link"><%= link_to url.long_url, target: "_blank", rel: "nofollow" %></li>
    </ul>
  <% end %>
</div>