<div>
  <%= render "layouts/navbar" %>
  <div class=" my-5">
    <div>
      <div id='Home'>
        <div class="welcome short">
          <div
            class='welcome-container d-flex flex-column flex-lg-row pt-5 align-items-center justify-content-center px-md-0'>
            <div class="fw-bold text-white col-md-11 col-lg-6 text-center mb-50 mb-md-5 ps-md-5">
              <p class="fw-bold text-white tracker fs-5">Link Shortener</p>
              <h2 class="fw-bold text-white fs-1">Welcome to Helpjuice</h2>
              <p class='para text-white mt-1 mt-md-3 col-md-10 col-lg-10 mx-md-auto fs-5'>
                Have Control Over Your Link. Click <span class="fw-bold">Generate short link</span> to see how Helpjuice Link Shortener Works.
              </p>
              <div class='d-flex gap-4 mt-5 justify-content-center flex-wrap align-items-center btn-btn'>
                <button class="view">
                  <%= link_to 'View most visited', new_url_path, class: "learn", data: { turbo_frame: 'most_visit' } %>
                </button>
                <button class="view">
                  <%= link_to 'Generate short link', new_url_path, class: "text-white view-features", data: { turbo_frame: 'modal' } %>
                </button>
              </div>
            </div>
          </div>
           
        </div>
        <div id="links">
          <% @urls.each do |url| %>
            <%= render url %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>