<% if !current_user %>
  <% if @clicked_most.present? %>
    <div class="mt-5">
      <div class="">
        <div class="">
          <h6 class="visit-title">Most visited links</h6>
            <% @clicked_most.each do |clicks|%>
            <ul>
              <li class="link"><span><i class="fa-solid fa-magnifying-glass"></i></span><%= link_to "#{url_clicked_url(clicks.short_url)}", "/url/#{url_for(clicks.short_url)}", data: { turbo_frame: "_top"}, target: "_blank", class: "text-purple-600 text-sm" %></li>
            </ul>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>