<%= flash[:error] %>
<div class="">
  <%= form_with model: @url do |form| %>
    <div class="d-flex">
      <%= form.text_field :long_url, placeholder: "Enter link...", class: "form-control" %>
      <%= form.submit "Shorten" %>
    </div>
  <% end %>
</div>
